@font-face {
    font-family: 'Vina Sans';
    src: url('VinaSans-Regular.woff2') format('woff2'),
        url('VinaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

