@font-face {
    font-family: 'LNTH-DeBorstel';
    src: url('LNTH-DeBorstelBrushReduced.woff2') format('woff2'),
        url('LNTH-DeBorstelBrushReduced.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

