.noti_con {
    position: fixed;
    top: 4rem;
    right: 2rem;
    z-index: 9999999;
}
.noti_alert {
    position: relative;
    margin-bottom: 2.4rem;
    top: 0;
    right: 0px;
    border-radius: 6px;
    background: #fff;
    padding: 14px 16px;
    /* box-shadow: 2px 6px 10px 3px rgba(0, 0, 0, 0.2); */
    overflow: hidden;
    transform: translateX( calc(100% + 30px) );
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}
@media screen and ( max-width:1200px ){
    .noti_alert {
        top: 30px;
        right: 20px;
    }
}
.noti_alert.active {
    transform: translateX(0%);
}
.noti_alert p {
    margin-right: 5px;
    text-align: left;
}
.noti_icon.danger {
    color: rgb(255, 3, 44);
}
.noti_icon.success {
    color: limegreen;
}
.noti_alert {
    width: max-content;
    max-width: 280px;
    min-width: 280px;
    display: flex;
    align-items: center;
}
.noti_alert .message .text1 {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    display: none;
}
.noti_alert .message .text2 {
    font-size: 14px;
    font-weight: bold;
    color: #666666;
}
.noti_alert .message {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}
@keyframes noti_animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.noti_icon {
    padding: 0px;
    color: white;
    display: flex;
    font-size: xx-large;
}
.remove_alert {
    animation: 1s 1 remove_alert_animation;
    -webkit-animation: 1s 1 remove_alert_animation;
}
@keyframes remove_alert_animation {
    0% {
        transform: translateX(200px);
    }

    50% {
        transform: translateX(200px);
    }

    100% {
        display: none;
    }
}
.noti_alert .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
}
.noti_alert .progress:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #cacaca;
}
.noti_alert .progress.danger {
    background-color: rgb(255, 3, 44);
}
.noti_alert .progress.success {
    background-color: limegreen;
}
.noti_alert .progress.active:before {
    animation: progress 5s linear forwards;
}
@keyframes progress {
    100% {
        right: 100%;
    }
}
@media screen and (max-width: 1200px) { 
    .noti_alert {
        top: 85px;
    }
}
@media screen and (max-width:768px){
    .noti_alert {
        max-width: 300px;
    }
    .noti_alert .message .text1 {
        font-size: 14px;
    }
    .noti_alert .message .text2 {
        font-size: 14px;
    }
}
@media screen and (max-width: 768px) {
    .noti_con {
        width: 100%;
        padding: 0 1em;
        top: 3rem;
    }
    .noti_alert {
        max-width: 100%;
        min-width: 100%;
        top: 115px;
        margin: auto;
        right: unset !important;
    }
}